.form-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
}

.form-item {
    display: flex;
    flex-direction: column;
    min-width: 400px;
}

.error-message {
    color: var(--error);
}