.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

.thumbnail-container {
    flex-shrink: 0;
    margin-bottom: 12px;
}

.tomogram-viewer-container {
    flex: 1;
    position: relative;
    height: 100%;
    min-width: 512px;
    overflow: hidden;
}

.no-selection-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    color: #888;
}