.error-text {
    color: var(--error);
    margin-top: 4px;
}

fluent-text-field.user-field::part(root) {
    cursor: pointer !important;
    border: none !important;
}

.token-actions {
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}