.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}